<header>

    <div id="menu-bar" class="fas fa-bars" (click)="onclick()"></div>

    <a href="#" class="logo">nike</a>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#products">Products</a>
        <a href="#featured">Featured</a>
        <a href="#review">Review</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

</header>
